<div class="card-container">
    <mat-card *ngFor="let rating of appRatings" class="rating-card">
        <mat-card-content>
            <div class="rating-info">
                <div class="label">Rating:</div>
                <div class="rating">{{ rating.rating }}</div>
            </div>
            <div class="rating-info">
                <div class="label">Description:</div>
                <div class="comment">{{ rating.description }}</div>
            </div>
            <div class="rating-info">
                <div class="label">Date:</div>
                <div class="date">{{ rating.dateCreated | date }}</div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
